{% extends "quizzesapp/base.html" %}
{% block title %}{{ post.question }}{% endblock %}
{% block content %}
{% load static %}
  <h1>{{ post.question }}</h1>
  <h1>{{ post.section }}</h1>
  <style>
    .code-style {
      font-size: 18px;
      line-height: 24px;
      background-color: rgb(255, 255, 255);
      color: #000000;
    }
  </style>
  <pre>
    <!--code Tag starts here -->
    <code class="code-style">
{{post.code}}
    <!--code Tag starts here -->
    </code>
  </pre>
  <form method="post" enctype="multipart/form-data">
    {{ form.as_p }}
    {% csrf_token %}
    <input type="submit" value="answer">
  </form>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div>
    {%if check_answer %}
      <h1>{{post.solution}}</h1>
    {%endif%}
  </div>
  <p>
    <li>
      <a href="{% url "quizzesapp:quiz_share" post.id %}">
        Share this post
      </a>
    </li>
  </p>
  <br>
  <div>
    <form method="get">
      <li>
        <button name="hint" value="true">Hint
      </li>
    </form>
  </div>
  <div>
    {%if hint_check %}
      <h1>{{post.hint}}</h1>
    {%endif%}
  </div>
  <br>
  <div>
    <li>
      <a href="{% url "quizzesapp:code" %}">Code Check</a>
    </li>
    <ul>
      <li><a href="{% url 'quizzesapp:quiz_detail' id=another_quiz %}">Another Quiz</a></li>
    </ul>
  </div>
{% endblock %}


