{% extends "quizzesapp/base.html" %}
{% block title %} {{ post.question }}
{% endblock %}
{% block content %}
{% load static %}

<div class="questionTitle">
  <h1>{{ post.question }}</h1>
</div>

<div class="questionLevel">
  {%if "Easy" in post.section %}
  <h2>{{ post.section }} 🟢⚪️⚪️</h2>
  {%elif "Medium" in post.section %}
  <h2>{{ post.section }} 🟡🟡⚪️</h2>
  {%else%}
  <h2>{{ post.section }} 🔴🔴🔴</h2>
  {%endif%}
</div>

<div class="questionCode">
  <pre>
    <!--code Tag starts here -->
    <code class="code-style">
{{post.code}}
    <!--code Tag starts here -->
    </code>
  </pre>

</div>

<div class="AnswerSection">
  <form method="post" enctype="multipart/form-data">
    {{ form.as_p }}
    {% csrf_token %}
    <input type="submit" value="answer">
  </form>
</div>

<div class="solutionCheck">
  {%if check_answer %}
  <h1>Solution:</h1>
  <p>{{post.solution}}</p>
  <li>
    <a href="{% url "quizzesapp:code" %}">Code Check</a>
  </li>
  <div class="nextQuiz">
    <li>
      <a href="{% url 'quizzesapp:quiz_detail' id=another_quiz %}">Next Quiz</a>
    </li>
  </div>
  {%endif%}
</div>

<div class="hint">
  {%if hint_check %}
  <h1>Hint:</h1>
  <p>{{post.hint}}</p>
  {%endif%}
</div>

<div class="flex-container">
  <div>
    <form method="get">
      <button name="hint" value="true" class="hintButton generalButton">Hint</button>
  </div>
  <div>
      <a href="{% url 'quizzesapp:quiz_detail' id=another_quiz %}" class="generalButton">Another Quiz</a>
  </div>
</div>

<div class="shareButton">
  <a href="{% url "quizzesapp:quiz_share" post.id %}">
    Share this post
  </a>
</div>


{% endblock %}